body{
    background-color: white;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0%;
}

nav{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: rgb(32, 32, 32);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    z-index: 1;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    margin: 30px;
    font-family: calibri;
    font-weight: lighter;
    color: white;
    font-size: 15px ;
}

.logo{
    margin-left: -30px;
}

.profile{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin-right: 25px;
    align-items: center;
    background-color: #03d838; 
    opacity: 100%; 
    border-color: transparent;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.log-in{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin-right: -850px;
    align-items: center;
    background-color : #22f055; 
    opacity: 100%; 
    border-color: transparent;
    color: rgb(0, 0, 0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* text-container about */
.text-container{
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 38%;
    top: 45%;
    transform: translate(-13%, -42%);
}
.text-container h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 120px;
    color: #ffffff;
    width: 100%;
    line-height: 20px;
}

/* img dan kata-kata */
/* .img-container img{
    border-radius: 5px;
    width: 450px;
    height: 340px;
    margin-left: -5%;
}
.img-container .text2-container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: left;
}
.img-container .text2-container .text h2{
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
}
.img-container .text2-container .text p{
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
} */

/* button view details */
/* .button-view{
    width: 90px;
    height: 35px;
    border-radius: 8px;
    font-family: calibri;
    font-weight: bold;
    font-size: 13px;
    outline: none;
    margin-right: 25px;
    align-items: center;
    background-color: #02ca34; 
    opacity: 100%; 
    border-color: transparent;
    color: white;
    margin-left: 1px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
} */


/* profile */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
}
.about-left{
    background: #1C373E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #45e653;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #45e653;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #dd2d4a;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-pink{
    background: #45e653;
    color: #fff;
    border-color:#45e653;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #dd2d4a;
    color: #000;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #dd2d4a;
    border-color: #dd2d4a;
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}
/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer-container{
	line-height: 1.5;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1C373E;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #45e653;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

